.container{
    display: flex;
}

.Travelimg{
    width: 750px;
    height: 750px;
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
}

.image h1,p{
    text-align: center;
    color: white;
}

.DetailsForm{
    border: 1px solid transparent;
    width: 70%;
    padding: 10px;
}

fieldset{
    color: rgb(3, 173, 240);
    width: 50%;
    margin-left: 150px;
    border: none;
    border:1px solid rgb(3, 173, 240);
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

fieldset i{
    margin-top:17px ;
}

fieldset p{
    padding-left: 10px;
}

.text p{
    color: grey;
}
.icon{
    display:flex;
}

.icon p{
    color: grey;
}

/* .DetailsForm p{
    color: black;
} */

.DetailsForm h1{
    text-align: center;
    color: rgb(3, 173, 240);
    font-size: 50px;
}

.aero{
    margin-left: 500px;
}

.log{
    margin-left: 300px;
    background-color: rgb(3, 173, 240);
    color: white;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

hr{
    margin: 15px 130px;
    width: 60%;
}

.forget{
    margin-left: 300px;
    color: grey;
}

.butt{
    margin-left: 240px;
}

.btn1,.btn2,.btn3{
    background-color: rgb(170, 227, 208);
    padding: 10px;
    width: 70px;
    border: none;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    font-size: 20px;
}

.img{
    display: flex;
    gap: 300px;
}

